# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Всякие проекты\Style_WebSite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
