.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    height: 95vh;
}

.right-background {
    flex-basis: 50%;
    background-color: #dfdfe5;
}
.left-background {
    flex-basis: 50%;
    background-color: #062580;
}
.right-background2 {
    background-color: #dfdfe5;
    min-height: 95vh;
}
.left-background2 {
    background-color: #062580;
    min-height: 95vh;
}
.left-img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.img {
    box-shadow: 0 10px 15px 10px #000;
    border: 10px white;
}
.form_sing {
    width: 70%;
    padding-left: 5%;
}
.btn_sing {
    padding: 5%;
}
.btn {
    background-color: #062580;
}
.sing_href {
    color: #062580;
}
.text-container {
    padding: 25px;

}
.text-container span {
    font-weight: bold;
    text-decoration: underline;
}

.img.d-block {
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.blue {
    background: #062580;
    color: white;
}

.profile_info {
    padding: 1rem;
}

.sign-in-button {
    width: 120px;
    height: 48px;
    font-size: 22px;
    padding: 7px;
    margin: -1px 0 0 10px;
}